* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: 'Quicksand', serif;
  margin: 0;
  margin-top: 3rem;
}

header,
nav,
footer,
main section {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 3rem;
}

nav {
  margin: auto 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

nav a:hover {
  color: #55a19c;
}

main {
  margin-top: 4rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.section-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/gardening.jpg');
  background-position: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-1 article {
  max-width: 900px;
  color: aliceblue;
}

.section-1 article p {
  margin-bottom: 4rem;
}

.section-1 article a {
  font-size: 1.5rem;
  color: aliceblue;
  font-weight: bold;
}

.section-1 article a:hover {
  color: #55a19c;
}

.section-2 {
  display: flex;
  gap: 5rem;
  margin: 3rem 0;
}

.section-2 article {
  flex: 1;
}

.section-2 article h2 {
  min-height: 80px;
}

footer {
  background-color: #333333;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: aliceblue;
}

footer img {
  display: block;
  height: 200px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer ul {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

footer ul li a:hover {
  color: #55a19c;
}

footer #copyright-text-container {
  text-align: end;
}

footer #copyright-text-container p {
  font-size: 1.25rem;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .section-2 {
    flex-direction: column;
    gap: 1rem;
  }

  .section-2 article h2 {
    min-height: 0;
  }

  footer ul {
    display: block;
    text-align: end;
  }

  footer ul li {
    margin-bottom: 0.25rem;
  }
}
